@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  box-sizing: border-box;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Hide scrollbar for both vertical and horizontal scrolling */
.carousel-container::-webkit-scrollbar {
  display: none; /* Hide scrollbar for webkit browsers (Chrome, Safari) */
}

.carousel-container {
  -ms-overflow-style: none; /* Hide scrollbar for Internet Explorer */
  scrollbar-width: none; /* Hide scrollbar for Firefox */
}
